body
{
    font-family: Arial, sans-serif;
}
#logo
{
    float: left;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    padding: 40px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 20px;
}
.option
{
    padding: 40px;
}
#menuleiste
{
    float: left;
    border: 1px solid black;
    margin-top: 40px;
    padding: 40px;
    width: 1000px;
    text-align: left;
}
#line
{
    clear: both;
    border-bottom: 1px solid black;
    padding: 20px;
}
#x
{
    margin-top: 20px;
    margin-left: 340px;
    border: 1px solid black;
    width: 880px;
    text-align: center;
    padding: 100px;
}
h1
{
    margin-left: 340px;
    padding-top: 20px;
}
p
{
    border: 1px solid black;
    margin-left: 340px;
    width: 1060px;
    padding: 10px;
}
#tabelle
{
    width: 1080px;
    border-collapse: collapse;
    margin-left: 340px;
    border: 1px solid black;
    text-align: center;
}
.tabellezelle
{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#zahlenliste
{
    list-style-type: none;
    text-align: center;
    padding: 20px;
}
#zahlenliste > li
{
    display: inline;
    padding: 40px;
    font-weight: bold;
}
form
{
    margin-left: 340px;
}
form > label
{
    padding-right: 100px;
}
#vornamediv
{
    float: left;
}
#emaildiv
{
    float: left;
}
#newsletterdiv
{
    float: left;
}
#newsletter
{
    width: 150px;
    height: 20px;
}
#eformular div
{
    padding-right: 10px;
    padding-top: 20px;
}
#datenschutz
{
    margin-top: 20px;
}
#senden
{
    width: 200px;
    height: 25px;
}
#boxdiv
{
    clear: both;
    float: left;
}
#sendendiv
{
    float: left;
    padding-left: 100px;
}
#wichtig
{
    clear: both;
}
#wichtig > ul
{
    margin-left: 500px;
}
#eformular input
{
    margin-top: 3px;
}
#eformular select
{
    margin-top: 3px;
}
#besuch
{
    border-bottom: 1px solid black;
}
#impressumlist
{
    text-align: center;
    list-style-type: none;
}
#impressum > ul > li
{
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid black;
}